package shelly

{{ $name := .deviceDetails.productId }}

type {{.Name}} struct {
	client *Client
}

func (c *DevicesClient) {{.Name}}() *{{.Name}} {
	return &{{.Name}}{client: c.client}
}

{{ range $k , $v := .Endpoints }}
    /*
    {{$k}} - {{$v}}
    */

    type {{$name}}{{$k}}Client struct {
        client *{{$k}}Client
    }

    func (c *{{$name}}) {{$k}}() *{{$name}}{{$k}}Client {
        return &{{$name}}{{$k}}Client{client: c.client.API().{{$k}}()}
    }

    {{ range $method := $v }}
        func (c *{{$name}}{{$k}}Client) {{$method}}(args {{$k}}{{$method}}Request) (*{{$k}}{{$method}}Response, error) {
            return c.client.{{$method}}(args)
        }
    {{ end }}

{{ end }}

